<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
      <a href="#/profile"><button class="button backbutton">Back</button></a>
  </div>
  <h1 class="title">Thomas Erikson</h1>
  <div class="buttons">
      <button class="button rightbutton edit-button">Edit</button>
  </div>
</ion-header-bar>

<ion-view>
    <ion-content has-header="true">
        <div id="chat" class="content">
            <div class="message left">Lorem ipsum dolor sit amet, consectetur adipisc ing elit. Mauris id hendrer it enim.</div>
            <div class="message right">Hello, Are you there yet?</div>
            <div class="message right">Lorem ipsum dolor sit amet, consectetur adipisc ing elit. Mauris id hendrer it enim bibendum mauris.</div>
            <div class="message left">Great, that will work...</div>
            <div class="message left">Lorem ipsum dolor sit amet, consectetur adipisc ing elit. Mauris id hendrer it enim.</div>
            <div class="message right">Hello, Are you there yet?</div>
            <div class="message right">Lorem ipsum dolor sit amet, consectetur adipisc ing elit. Mauris id hendrer it enim bibendum mauris.</div>
            <div class="message left">Great, that will work...</div>
            <div class="message left">Lorem ipsum dolor sit amet, consectetur adipisc ing elit. Mauris id hendrer it enim.</div>
            <div class="message right">Hello, Are you there yet?</div>
            <div class="message right">Lorem ipsum dolor sit amet, consectetur adipisc ing elit. Mauris id hendrer it enim bibendum mauris.</div>
            <div class="message left">Great, that will work...</div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="chat-footer">
        <div class="item item-input-inset imessage">
            <i class="icon ion-camera"></i>
            <label class="item-input-wrapper">
                <input type="text" placeholder="iMessage">
            </label>
            <button class="button button-small">
                Send
            </button>
        </div>
    </ion-footer-bar>
</ion-view>