<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
      <a href="#"><button class="button backbutton" ng-click="doSomething()">Back</button></a>
  </div>
  <h1 class="title">Collections</h1>
  <div class="buttons">
      <button class="button rightbutton"><i class="icon ion-ios7-plus-empty"></i></button>
  </div>
</ion-header-bar>

<ion-view>
    <ion-content has-header="true" class="bg-grey bottom-none">
        <div id="collections" class="content">
            <div class="left-col">
                <div class="collection-item">
                    <div class="img-block">

                    </div>
                    <div class="bottom-block">
                        Lorem ipsum dolor sit
                    </div>
                </div>
                <div class="collection-item">
                    <div class="img-block">

                    </div>
                    <div class="bottom-block">
                        Nullam lacina feugiat placerat aenean con sit
                    </div>
                </div>
                <div class="collection-item">
                    <div class="img-block">

                    </div>
                    <div class="bottom-block">
                        Lorem ipsum dolor sit
                    </div>
                </div>
                <div class="collection-item">
                    <div class="img-block">

                    </div>
                    <div class="bottom-block">
                        Lorem ipsum dolor sit
                    </div>
                </div>
            </div>
            <div class="right-col">
                <div class="collection-item">
                    <div class="img-block">

                    </div>
                    <div class="bottom-block">
                        Lorem ipsum dolor sit
                    </div>
                </div>
                <div class="collection-item">
                    <div class="img-block">

                    </div>
                    <div class="bottom-block">
                        Lorem ipsum dolor sit
                    </div>
                </div>
                <div class="collection-item">
                    <div class="img-block">

                    </div>
                    <div class="bottom-block">
                        Lorem ipsum dolor sit
                    </div>
                </div>
                <div class="collection-item">
                    <div class="img-block">

                    </div>
                    <div class="bottom-block">
                        Lorem ipsum dolor sit
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="collections-footer">
        <h1 class="title"><i class="icon ion-ios7-arrow-left"></i><i class="icon ion-ios7-arrow-right"></i>Swipe to switch collections</h1>
    </ion-footer-bar>
</ion-view>