<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
      <button class="button backbutton" ng-click="doSomething()">Back</button>
  </div>
  <h1 class="title">Recent Posts</h1>
  <div class="buttons">
      <button class="button rightbutton" ng-click="modal.show()"><i class="icon ion-ios7-plus-empty"></i></button>
  </div>
</ion-header-bar>
<div class="bar community-bar bar-subheader">
    <div class="button-bar">
        <a class="button active">recent</a>
        <a class="button">popular</a>
        <a class="button">following</a>
    </div>
</div>

<ion-view>
    <ion-content has-header="true" class="bg-light-grey bottom-none">
        <div id="community" class="content">
            <div class="left-col">
                <div class="collection-item">
                    <div class="img-block">

                    </div>
                    <div class="bottom-block">
                        <h4>Lorem ipsum dolor sit</h4>
                        <h5><a href="http://pinterest.com">pinterest.com</a></h5>
                        <span class="heart"><i class="icon ion-heart"></i>33</span>
                        <span class="comments"><i class="icon ion-ios7-chatbubble"></i>7</span>
                    </div>
                </div>
                <div class="collection-item">
                    <div class="img-block">

                    </div>
                    <div class="bottom-block">
                        <h4>Can you see it?</h4>
                        <h5><a href="http://pinterest.com">pinterest.com</a></h5>
                        <span class="heart"><i class="icon ion-heart"></i>55</span>
                        <span class="comments"><i class="icon ion-ios7-chatbubble"></i>24</span>
                    </div>
                </div>
                <div class="collection-item">
                    <div class="img-block">

                    </div>
                    <div class="bottom-block">
                        <h4>Lorem ipsum dolor sit</h4>
                        <h5>pinterest.com</h5>
                        <span class="heart"><i class="icon ion-heart"></i>33</span>
                        <span class="comments"><i class="icon ion-ios7-chatbubble"></i>7</span>
                    </div>
                </div>
            </div>
            <div class="right-col">
                <div class="collection-item">
                    <div class="img-block">

                    </div>
                    <div class="bottom-block">
                        <h4>Lorem ipsum dolor sit</h4>
                        <h5><a href="http://pinterest.com">pinterest.com</a></h5>
                        <span class="heart"><i class="icon ion-heart"></i>17</span>
                        <span class="comments"><i class="icon ion-ios7-chatbubble"></i>7</span>
                    </div>
                </div>
                <div class="collection-item">
                    <div class="img-block">

                    </div>
                    <div class="bottom-block">
                        <h4>Lorem ipsum dolor sit</h4>
                        <h5><a href="http://pinterest.com">pinterest.com</a></h5>
                        <span class="heart"><i class="icon ion-heart"></i>13</span>
                        <span class="comments"><i class="icon ion-ios7-chatbubble"></i>7</span>
                    </div>
                </div>
                <div class="collection-item">
                    <div class="img-block">

                    </div>
                    <div class="bottom-block">
                        <h4>Lorem ipsum dolor sit</h4>
                        <h5><a href="http://pinterest.com">pinterest.com</a></h5>
                        <span class="heart"><i class="icon ion-heart"></i>33</span>
                        <span class="comments"><i class="icon ion-ios7-chatbubble"></i>7</span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    
    
</ion-view>