<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <a href="#"><button class="button backbutton-blue" ng-click="doSomething()">Back</button></a>
    </div>
    <h1 class="title">Categories</h1>
    <div class="buttons">
        <button class="button rightbutton-blue"><i class="icon ion-ios7-plus-empty"></i></button>
    </div>
</ion-header-bar>
<div>
    <span class="scroll-up"><i class="icon ion-chevron-up"></i></span>
    <span class="scroll-down"><i class="icon ion-chevron-down"></i></span>

    <ion-content  has-header="true">

        <div id="image-slider" class="content">

            <ion-list>
                <ion-item>
                    <span class="left">Kathrine Lipsbalm</span>
                </ion-item>
                <ion-item>
                    <span class="left">Kathrine Lipsbalm</span>
                </ion-item>
                <ion-item>
                    <span class="left">Kathrine Lipsbalm</span>
                </ion-item>
                <ion-item>
                    <span class="left">Ilovemy Pinkies</span>
                </ion-item>
                <ion-item>
                    <span class="right">Daiquiri Drinker</span>
                </ion-item>
                <ion-item>
                    <span class="left">Wearing Danglies</span>
                </ion-item>
                <ion-item>
                    <span class="left">Kathrine Lipsbalm</span>
                </ion-item>
            </ion-list>


        </div>
    </ion-content>
</div>
