<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-nav-bar class="bar-stable"></ion-nav-bar>

<ion-view title="Welcome">
    <ion-content has-header="true">
        <div id="login" class="content">
            <div class="round">
                <span class="camera-pic"></span>
                <span class="text-in-round">Your photo</span>
            </div>
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Email Address">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Password">
                </label>
                <a href="#/chat"><button class="button button-block button-positive">Authenticate</button></a>      
            </div>
        </div>
        <div class="tw-or-fb">
            <div class="tw"><span class="tw">Twitter</span></div>
            <div class="fb"><span class="fb">Facebook</span></div>
        </div>
    </ion-content>
</ion-view>
