<div class="modal twitter" ng-controller="ModalCtrl">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        <h1 class="title">Twitter</h1>
        <button class="button button-clear" ng-click="modal.hide()">Post</button>
    </ion-header-bar>
    <ion-content>
            <textarea class="twitter-modal"></textarea>
            <div class="image-modal"></div>
    </ion-content>
    <ion-footer-bar class="bar-light">
        <button class="button button-clear footer-left-button">Location</button>
        <button class="button button-clear footer-right-button">None<i class="icon ion-ios7-arrow-right"></i></button>
        
    </ion-footer-bar>
</div>