<div class="modal" ng-controller="ModalCtrl">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">New Contact</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">First Name</span>
                    <input type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Last Name</span>
                    <input type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text">
                </label>
                <button class="button button-full button-positive">Create</button>
            </div>
        </div>
    </ion-content>
</div>