<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
      <button class="button backbutton" ng-click="doSomething()">Back</button>
  </div>
  <h1 class="title">Friends</h1>
  <div class="buttons">
      <button class="button rightbutton"></button>
  </div>
</ion-header-bar>

<ion-view>
    <ion-content has-header="true">
        <div id="profile" class="content">
            <div class="photo">
                <div class="photo-box-absolute">
                    <a class="item item-avatar" href="#">
                        <span class="photo-box-circle"><span class="photo-box-circle-small-top-left">3</span></span>
                        <h2>Someonews Name<i class="icon ion-ios7-arrow-down" style="padding: 4px 0 0 5px"></i></h2>
                        <p>@johnathonrockfish</p>
                    </a>
                </div>
            </div>
            <ul class="tabss">
                <li>
                    <input type="radio" checked name="tabs" id="tab1">
                    <label for="tab1">All</label>
                    <div id="tab-content1" class="tab-content animated fadeIn">
                        tab-content1
                    </div>
                </li>
                <li>
                    <input type="radio" name="tabs" id="tab2" checked="checked">
                    <label for="tab2">Friends</label>
                    <div id="tab-content2" class="tab-content animated fadeIn">
                        tab-content2
                    </div>
                </li>
                <li>
                    <input type="radio" name="tabs" id="tab3">
                    <label for="tab3">Family</label>
                    <div id="tab-content3" class="tab-content animated fadeIn">
                        tab-content3
                    </div>
                </li>
                <li>
                    <input type="radio" name="tabs" id="tab4">
                    <label for="tab4">Coworkers</label>
                    <div id="tab-content4" class="tab-content animated fadeIn">
                        tab-content4
                    </div>
                </li>
            </ul>
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Find friends">
                </label>
            <div class="list">
                <a class="item item-thumbnail-left" href="#">
                    <span class="photo-box-circle">
                        <span class="photo-box-circle-small-bottom-right">
                            <span class="orange"></span>
                        </span>
                    </span>
                    <h2>Fredrick Luckily</h2>
                    <span class="developer">Developer</span>
                    <span class="home">New York, USA</span>
                </a>
                <a class="item item-thumbnail-left" href="#">
                    <span class="photo-box-circle">
                        <span class="photo-box-circle-small-bottom-right">
                            <span class="grey"></span>
                        </span>
                        <span class="photo-box-circle-small-top-left">2</span>
                    </span>
                    <h2>Fredrick Luckily</h2>
                    <span class="designer">Designer</span>
                    <span class="home">London, United Kingdom</span>
                </a>
                <div class="options">
                    <ul>
                        <li class="tel"></li>
                        <li class="chat"></li>
                        <li class="email"></li>
                        <li class="options-circle">
                            <span class="photo-box-circle">
                                <span class="photo-box-circle-small-bottom-right">
                                    <span class="green"></span>
                                </span>
                            </span> 
                        </li>
                    </ul>
                </div>
                <a class="item item-thumbnail-left" href="#">
                    <span class="photo-box-circle">
                        <span class="photo-box-circle-small-bottom-right">
                            <span class="green"></span>
                        </span>
                    </span>
                    <h2>Fredrick Luckily</h2>
                    <span class="student">Student</span>
                    <span class="home">New Orleans, LA</span>
                </a>

            </div>
        </div>
    </ion-content>
</ion-view>