<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
      <button class="button backbutton" ng-click="doSomething()">Back</button>
  </div>
  <h1 class="title">Profile</h1>
  <div class="buttons">
      <button class="button rightbutton"><i class="icon ion-ios7-search"></i></button>
  </div>
</ion-header-bar>

<ion-view>
    <ion-content has-header="true">
        <div id="profile-1" class="content">
            <div class="photo">
                <div class="photo-box-absolute">
                    <a class="item item-avatar" href="#">
                        <h2>Someone's Name</h2>
                        <p>Job Description</p>
                        <p class="marker"><i class="icon ion-ios7-location-outline"></i>Somewhere, USA</p>
                    </a>
                </div>
            </div>
            <div class="button-list">
                <ul>
                    <li class="email"><i class="icon ion-ios7-paperplane-outline"></i></li>
                    <li class="phone"><i class="icon ion-iphone"></i></li>
                    <li class="chat"><i class="icon ion-ios7-chatboxes-outline"></i></li>
                    <li class="flag"><i class="icon ion-ios7-flag-outline"></i></li>
                </ul>
            </div>
            <div class="follow-list">
                <ul style="width: 102%;">
                    <li class="follow"><span class="up">Followers</span><br /><span class="down">32K</span></li>
                    <li class="follow"><span class="up">Following</span><br /><span class="down">25K</span></li>
                    <li class="follow"><span class="up">Shots</span><br /><span class="down">12K</span></li>
                </ul>
            </div>
            <ul class="list">
                <li class="item">
                    <span class="up">Email</span><br />
                    <span class="down">Yourname@website.com</span>
                </li>
                <li class="item">
                    <span class="up">Website</span><br />
                    <span class="down">http://www.somewebsitehere.com</span>
                </li>
            </ul>
            <div class="footer">
                <div class="follow-button"><button class="follow-me">Follow me</button></div>
                <div class="socials">
                    <i class="icon ion-social-facebook"></i>
                    <i class="icon ion-social-twitter"></i>
                    <i class="icon ion-social-googleplus-outline"></i>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>