<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
      <a href="#"><button class="button backbutton" ng-click="doSomething()">Back</button></a>
  </div>
  <h1 class="title">New Item</h1>
  <div class="buttons">
      <button class="button rightbutton"><i class="icon ion-ios7-plus-empty"></i></button>
  </div>
</ion-header-bar>

<ion-view>
    <ion-content has-header="true">
        <div id="tags" class="content">
            <label class="item item-input">
                <input type="text" placeholder="Enter Item Name...">
            </label>
            <h3>Or select a tag from the list<i class="icon ion-ios7-help-outline"></i></h3>
            <button class="button button-block button-positive bg-blue"> 
                Some Name Here
                <i class="icon ion-plus"></i>
            </button>
            <button class="button button-block button-positive bg-aqua">
                Another Title or Name
                <i class="icon ion-plus"></i>
            </button>
            <button class="button button-block button-positive bg-light-green">
                Yet Another
                <i class="icon ion-plus"></i>
            </button>
            <button class="button button-block button-positive bg-green">
                Example
                <i class="icon ion-plus"></i>
            </button>
            <button class="button button-block button-positive bg-lime">
                A Really Long Name Here
                <i class="icon ion-plus"></i>
            </button>
            <button class="button button-block button-positive bg-yellow-green">
                Some Name Here
                <i class="icon ion-plus"></i>
            </button>
            <button class="button button-block button-positive bg-yellow">
                Example Name
                <i class="icon ion-plus"></i>
            </button>
            <button class="button button-block button-positive bg-brown">
                Whew Almost Done
                <i class="icon ion-plus"></i>
            </button>
            
        </div>
    </ion-content>
</ion-view>