/* Your app's CSS, go crazy, make it your own */

div.scroll-content{
    background: #3f9dd9;
}
.round{
background: #fff;
width: 185px;
height: 185px;
border-radius: 50%;
margin: 15% auto;
position: relative;
color: #3f9dd9;
}
.text-in-round{
    position: absolute;
    bottom: 50px;
    left: 45px;
    font-size: 22px;
    font-family: sans-serif;
}
.camera-pic{
    background: url('../images/camera.png') no-repeat;
    width: 62px;
    height: 48px;
    position: absolute;
    top: 30px;
    left: 63px;
}
.item-input{
    width: 90%;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 25px;
    background: rgba(255,255,255,0.8);
}
.item-input input{
    font-size: 18px;
}
div.list .button {
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    background: #fff;
    color: #3f9dd9;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
div.list .button:hover{
    color: #3f9dd9;
}